services:
  web:
    build: .
    command: bash -lc "python manage.py collectstatic --noinput && gunicorn Zafrocop.wsgi:application --bind 0.0.0.0:8000"
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - app_postgres_data:/var/lib/postgresql/data

  caddy:
    image: caddy:2
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web

volumes:
  app_postgres_data:
  caddy_data:
  caddy_config:

